.events-container-light{
    background-color: lightgray;
    color: black;
}

.events-container-dark{
    background-color: black;
    color: white;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}