.eventItemContainer{
    display: flex;
    margin: 24px 0;
    width: 90%;
    padding: 10px;
    /* background-color: pink; */
}
.eventInfoContainer{
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: start;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 20px;

}
.eventName{
    margin: 0 0 10px;
}
.eventInfo{
    text-align: left;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.seeMoreBtn{
    margin-top: 8px;
}

/* IMAGE SECTION */
.imageContainer{
    position: relative;
}
.filledHeart{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 22px;
    z-index: 1;
    cursor: pointer;
}