.active{
    border-bottom: 2px solid green;
}
.tab{
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 4px;
    cursor: pointer;
    transition: opacity 0.2s ease;
    margin: 10px 15px;
}
.tab:hover{
    opacity: .8;
}
.homeLink{
    color: white;
    text-decoration: none;
    margin: 12px 0;
}
